/* settaggio border-box */
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

/* header impostazione */

header{
    background-color: white;
    padding: 10px;
}

.Logo{
    vertical-align: middle;
}

.LogoFont{
    
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
}

/* impostazione main */
.sfondo {
    border-radius: 5px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    padding-bottom: 20px;
}

.addtask{
    background-color: rgb(87, 165, 255);
    border-radius: 5px;
    border-width: 0;
    padding: 7px 10px;
    color: white;
    font-weight: 700;
}

.addsection{
    background-color: white;
    border-radius: 5px;
    border: solid 1px lightgrey;
    padding: 7px 10px;
    color: lightgray;
    font-weight: 700;

}

.actions{
    padding: 10px;
    border-bottom: solid 1px lightgrey;
}

/* section impostazioni */

.titolosezione{
    font-weight: 700;
    font-size: 25px;
    padding: 10px;

}

.titolosezione::before{
    content: " \25BC ";
    font-size: medium;
}

/* article impostazioni */

.check{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.check::before{
    padding: 1px 4px;
    font-size: 10px;
    content: "\2713";
    color: green;
    border-radius: 15px;
    border: solid 1px green;
}

.cross{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
   }

.cross::before{
    padding: 1px 4px;
    font-size: 10px;
    content: "\2717";
    color: red;
    border-radius: 15px;
    border: solid 1px red;
}

.editorial{
    background-color: rgb(87, 165, 255);
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.Q1goals{
    background-color: rgb(187, 118, 228);
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.recruiting{
    background-color: rgb(118, 228, 124);
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.mobile{
    background-color: rgb(238, 163, 78);
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.website{
    background-color: rgb(236, 121, 227);
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.sales{
    background-color: rgb(167, 236, 121);
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

